@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

/* main {
  background-color: aqua;
  width: 50%;
} */

p {
  background-color: lightgray;
  margin: 100px 50px
}

.opposite {
  display: inline-block; /*if display is inline-block then we can use margin and height*/
  background-color: #333;
  color: whitesmoke;
  margin-top: 100px; /* margin top and bottom cannot be applied in inline*/
  height: 200px; /* height cannot be applied in inline*/
  padding: 4rem; /* height can be applied in inline*/
}

ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: black;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}

