@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

/* UTILITIES */
.nowrap {
  white-space: nowrap;
}
html {
  scroll-behavior: smooth;
}
/* GENERAL STYLES */
body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
}
nav {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

/* nav a,
nav a:visited {
  color: black;
} */

nav a:any-link {
  color: black;
}
/* 
nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
} */
nav :is(a:hover, a:focus) {
  color: hsla(0, 0%, 20%, 0.6);
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  bottom: 0;
}

/* PROFILE CARD CLASS */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:target {
  border: 2px solid rebeccapurple;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}
.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.card figcaption::after {
  content: "✨";
  display: block;
}
.card img {
  border: 5px double #333;
  border-radius: 50%;
}
/* .card img[alt] {
  border: 10px solid red
} */
.card img:not([alt]) {
  border: 10px solid red
}

/* .card:nth-child(2) {
  background-color: papayawhip;
} */
.card:nth-child(even) {
  background-color: papayawhip;
}
/* syntax */
/* @media media type and (condition:breakpoint) {
  CSS Rules
 } */

/* SMALL */
@media screen and (min-width: 576px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .card {
    width: min(100%, 400px);
  }
  .card:last-child {
    order: -1;
  }
}

/* MEDIUM */
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }
  .card {
    width: min(100%, 400px);
  }
  .card figure {
    flex-flow: column-reverse;
  }
  .card figcaption {
    margin: 0.1em 0;
  }
  .card p {
    margin-top: 1rem;
  }
}

/* LARGE */
@media screen and (min-width: 992px) {
  nav {
    display: none;
  }
  .card {
    width: min(100%, 400px);
  }
  .card:nth-child(2) {
    order: -1;
  }
}

/* XL */
@media screen and (min-width: 1200px) {
  nav {
    display: none;
  }
  .card {
    width: min(calc(33% - 1rem), 500px);
  }
  .card:nth-child(2) {
    order: -1;
  }
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  nav {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }
  .card figcaption, .card p{
    font-size: 1.5rem;
  }
}
